tensorflow
numpy
matplotlib
argparse
opencv-python
pickle
pyttsx3
DateTime
wikipedia
pywhatkit
pyjokes
requests
jsons
jsonlib
pycaw
comtypes
ctypes
cx-Freeze
cffi
SpeechRecognition
pyzbar
mediapipe
pyautogui
typing_extensions
tzdata
tornado
PyGetWindow
PyAudio
oauthlib
MouseInfo
h5py
